doctype html
html(lang="en")
	head
		block title
			title Dummy Layout Title
		link(rel="stylesheet" type="text/css" href="/styles/style.css")
		script(src="/scripts/bundle.js")
	body
		nav
			ul
				li
					a(href="/index.html") Home
				li
					a(href="/about_us.html") About Us
		.container
			block contents
