doctype html
html(lang="en")
	head
		block title
			title Dummy Layout Title
		link(rel="stylesheet" type="text/css" href="/styles/style.css")
	body
		nav
			ul
				li
					a(href="/index.html") Home
				li
					a(href="/about_us.html") About Us
		.container
			block contents
		script(src="https://code.jquery.com/jquery-1.12.3.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.5.2/redux.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.5/react-redux.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.min.js")
		script(src="/scripts/bundle.js")
