html(lang="en")
	head
		title Hello Template
		link(rel="stylesheet" type="text/css" href="/styles/style.css")
	body
		h1 Hello Template
		div(class="column") Hello column
			div(class="row") Hello row