// index.jade

// use the layout.jade as a template
extends ./includes/layout.jade

// html title
block title
	title Dummy Home

// contents
block contents
	h1 Dummy Home
	div(class="column") Hello column
		div(class="row") Hello row
		div(class="row" id="react-playground")
